<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zhang.kdzs.system.mapper.MenuMapper">

 <select id="findUserMenus" resultType="com.zhang.kdzs.system.entity.Menu">
        select m.*
        from tb_role r
               left join tb_user_role ur on (r.id = ur.role_id)
               left join tb_user u on (u.id = ur.user_id)
               left join tb_role_menu rm on (r.id = rm.role_id)
               left join tb_menu m on (m.id = rm.menu_id)
        where u.username = #{username}
    </select>

</mapper>